@model RealEstate.Models.AdViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ad</h4>
    <hr />
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Property.image1)" width="80" height="80" />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Ad.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Property.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Property.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad.Date_Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad.Date_Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad.Ad_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad.Ad_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ad.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad.Price)
        </dd>

    </dl>
</div>
