@model IEnumerable<RealEstate.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @using (@Html.BeginForm("Index", "Ads", FormMethod.Get))
    {
        
        List<SelectListItem> listItems= new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Residential",
            Value = "Residential",
            Selected = true
        });
        listItems.Add(new SelectListItem
        {
            Text = "Land",
            Value = "Plot"
        });
            
         <div class="input-group">
             @Html.DropDownList("Category", listItems, new { @class = "form-control" })
             
             <span class="input-group-btn">
                 <input type="submit" value="Go" class="form-control" />
             </span>
             @Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Search Locations" })
         </div>
    }
</p>
@if (Model.Count() == 0)
{
    <h3>No properties available</h3>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Posted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ad_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Posted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ad_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
}