@using Microsoft.AspNet.Identity
@model RealEstate.Models.Agreement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agreement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Payee Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payee.UserName)
        </dd>

        <dt>
            Payer Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payer.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreement_Terms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreement_Terms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token_Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token_Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agreement_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agreement_Duration)
        </dd>

    </dl>
</div>
@if (HttpContext.Current.User.Identity.GetUserId() != Model.Property.Owner_Id)
{
    <form action="" method="post">
        <input type="submit" value="Accept" name="action:Accept" class="btn btn-default" />
        <input type="submit" value="Reject" name="action:Reject" class="btn btn-default" />
    </form>
}
