@using Microsoft.AspNet.Identity;
@model IEnumerable<RealEstate.Models.Agreement>

@{
    ViewBag.Title = "Index";
}
<h2>Agreements</h2>
<br />
<table class="table">
    <tr>
        <th>
            Owner's Email
        </th>
        <th>
            Payer's Email
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payee.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (User.Identity.GetUserId() == item.Payer_Id)
            {
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            }
            else if (User.Identity.GetUserId() == item.Payee_Id)
            {
                @Html.ActionLink("Details", "Edit", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
