@model IEnumerable<RealEstate.Models.Agreement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payee.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payer.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agreement_Terms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token_Advance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agreement_Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payee.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payer.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agreement_Terms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token_Advance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Amt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agreement_Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
